header.header
	.header__column
		a(href=routes.home)
			i.fab.fa-youtube
	.header__column
		form(action="", method="get")
			input(tuype="text", placeholder="Search by keyword..", name="keyword")
	.header__column
		ul
			if !user.isAuthenticated
				li
					a(href=routes.join) 회원가입
				li
					a(href=routes.login) Log In
				li
					a(href=`${routes.place}${routes.manage}`) 공간 관리
			else 
				li
					a(href=`${routes.place}${routes.manage}`) 공간 관리
				li
					a(href=routes.user) 정보수정
				li
					a(href=routes.logout) Logout
					