extends layouts/main
include mixins/selectBlock

block content
	.joinform-container#jsJoinFormContainer
		.login__icon
			i.fas.fa-draw-polygon LINKER
		form(id="joinForm" method="post")
			div
				p 이름
				input(type="text" name="name" id="name" placeholder="" required=true)
			div
				p 이메일
				input(type="text" name="email1" id="email1" placeholder="" required=true)
				p.at @ 
				//- input(type="email" name="email" id="email2" placeholder="" required=true)
				select(id="email2" name="email2" required=true)
					each val in {1: "naver.com", 2: "gmail.com"}
						+selectBlock({
							id: val,
							name: val
						})
				input(type="hidden" name="email" id="email")
			div
				p 비밀번호
				input(type="password" name="password" id="password" placeholder="비밀번호" required=true)
			div
				p 비밀번호 확인
				input(type="password" name="password2" id="password2" placeholder="비밀번호 확인" required=true)
			div
				p 핸드폰번호
				select(id="tel1" name="tel1" )
					each val in {010: "010", 011: "011"}
						+selectBlock({
							id: val,
							name: val
						})
				p.hipen -
				input(type="text" name="tel" id="tel2" maxlength=4)
				p.hipen -
				input(type="text" name="tel" id="tel3" maxlength=4)
				input(type="button" name="verifyBtn" id="reqVerify" value="인증번호 요청")
				input(type="hidden" name="phoneNumber" id="phoneNumber")
			div
				input(type="number" name="verifyNumber" id="verifyNumber")
				input(type="button" name="verifyBtn" id="verifyBtn" value="인증번호 확인")
			input(type="button" id="joinBtn" value="회원가입")