extends ../layouts/main
include ../mixins/selectBlock

block content
	include ../partials/manageHeader
	.form-container
		form(action=`${routes.place}${routes.placeAdd}`, id="placeAddForm", method="post")
			label(for="title") Title
			input(type="text", id="title", name="title", placeholder="Title", required=true)
			label(for="description") Description
			textarea(name="description", id="description", placeholder="Description")
			label(for="lat") Latitude
			input(type="number", id="lat" name="lat", placeholder="Latitude", required=true)
			label(for="lng") Longitude
			input(type="number", id="lng" name="lng", placeholder="Longitude", required=true)
			label(for="type") Type
			select(id="type", name="type", required=true)
				each val, index in {1: "APT", 2: "HOUSE"}
					+selectBlock({
						id: index,
						name: val
					})
			label(for="category") Category
			select(id="category", name="category", required=true)
				each val, index in {1: "HOUSE", 2: "OFFICE"}
					+selectBlock({
						id: index,
						name: val
					})
	.form-container--upload
		label FileUpload
		form.dropzone(action="/", id="placeFileForm" method="post", enctype="multipart/form-data")
			.fallback
				input(type="file", name="placeFile[]", multiple)

	.form-container--submit
		input(type="submit", value="Upload Video", id="placeAdd")

	script(src="/dist/dropzone/dropzone.js")
	script(src="/dist/jquery/jquery-3.4.1.min.js")
	style
		include ../../dist/dropzone/dropzone.css
	script.
		Dropzone.autoDiscover = false;
		Dropzone.options.placeFileForm = {
			//- parallelUploads: 5,
			uploadMultiple: true,
			maxFiles: 5,
			maxFilesize: 100, // MB
			autoProcessQueue: false,
			addRemoveLinks: true,
			acceptedFiles: ".jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF, .mp4"
		};

		const myDropzone = new Dropzone("form#placeFileForm", {
			url: "/place/file-upload",
			method:"post",
			paramName: () => { return "placeFile[]"; }
		})

		$("#placeAdd").click(() => {
			myDropzone.processQueue()
			myDropzone.on("completemultiple", () => {
				$("#placeAddForm").submit()
			})
		})

		