extends ../layouts/main
include ../mixins/selectBlock

block content
	include ../partials/manageHeader
	.form-container#jsPlaceAddContainer
		form(id="placeAddForm" method="post")
			label(for="title") Title
			input(type="text" id="title" name="title" placeholder="Title" required=true)
			label(for="description") Description
			textarea(name="description" id="description" placeholder="Description")
			label(for="type") Type
			select(id="type" name="type" required=true)
				each val, index in {1: "APT", 2: "HOUSE"}
					+selectBlock({
						id: index,
						name: val
					})
			label(for="category") Category
			select(id="category" name="category" required=true)
				each val, index in {1: "HOUSE", 2: "OFFICE"}
					+selectBlock({
						id: index,
						name: val
					})

	.form-container--map
		form(id="placeAddrForm" method="post")
			label(for="roadAddr") 주소
			input(type="text" id="roadAddr" name="addrKeyword" placeholder="도로명 주소" readonly)
			input(type="hidden" id="roadAddrEng" name="roadAddrEng")
			input(type="text" id="jibunAddr" name="addrKeyword" placeholder="지번 주소" readonly)
			input(type="hidden" id="jibunAddrEng" name="jibunAddrEng")
			input(type="button" value="주소 검색" id="addrPopupBtn")
			input(type="text" id="detailAddr" name="detailAddr" placeholder="상세주소를 입력해주세요")
			input(type="hidden" id="postCode" name="postCode")
			input(type="hidden" id="zoneCode" name="zoneCode")
			input(type="hidden" id="lat" name="lat" placeholder="Latitude" required=true)
			input(type="hidden" id="lng" name="lng" placeholder="Longitude" required=true)
			script(type="text/javascript" src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${env.DAUM_JAVASCRIPT_KEY}&libraries=services`)
			div(id="map" style="width:30%;height:400px;") 주소 검색을 하시면 해당 위치가 지도에 표시됩니다.

	.form-container--upload
		label FileUpload
		form.dropzone(action="/" id="placeFileForm" method="post" enctype="multipart/form-data")
			.fallback
				input(type="file" name="placeFile[]" multiple)

	.form-container--submit
		input(type="submit" value="Upload Video" id="placeAddBtn")
		
	script(src="/static/dist/dropzone/dropzone.js")
	script(src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false")
	style
		include ../../static/dist/dropzone/dropzone.css
	script.
		Dropzone.autoDiscover = false;
		Dropzone.options.placeFileForm = {
			uploadMultiple: true,
			maxFiles: 5,
			maxFilesize: 100, // MB
			autoProcessQueue: false,
			addRemoveLinks: true,
			acceptedFiles: "image/jpeg,image/png,image/gif"
		};
